<p id="notice"><%= notice %></p>

<p>
  <h2>Menu for <%= current_restaurant.name %></h2>
</p>

<h3>Our dishes</h3>


<% if @dishes.count >= 1 %>
  <% @dishes.each do |dish| %>
    <p><%= dish.name %></p> 
    <p><%= dish.price %> </p>
    <p><%= dish.description %></p>

       <%= image_tag(dish.image) %>
  <% end %>

<% end %>



<h3><%= link_to "Add a dish", new_dish_path(menu_id: @menu.id) %></h3>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
