<p id="notice"><%= notice %></p>


<div id="menu">
<p>
  <center><h1 id="menu_title"><%= current_restaurant.name %>'s menu</h1></center>
</p>

<div id="menu_buttons"><%= link_to "Add a dish", new_dish_path(menu_id: @menu.id), :class => "btn btn-large btn-primary" %></div>

<% if @dishes.count >= 1 %>
  <% @dishes.each do |dish| %>
  <div class="row">
	<div class="span10" id="menu_info">
    	<div><center><p class="menu_content" id="name_of_dish"><%= dish.name %></p></center></div>   
    </div>
  </div>
  <div class="row">
	<div class="span3">
	    <p><a href="#"><img src="<%= dish.image %>" class="food_image_for_menu" %></a></p>
	</div>
	<div class="span4">
		<p class="menu_content"><%= number_to_currency(dish.price) %></p>
	    <p class="menu_content"><%= dish.description %></p>
	</div>
	<div class="span2">
	    <p class="menu_content"><%= dish.ratings unless dish.ratings.empty? %></p>
	</div>
	<div class="span1">
	    <%= link_to("Edit", edit_dish_path(dish), :class => "btn btn-large btn-primary", :id => "edit_dish_button") %>
	</div>
  </div>

  <% end %>

<% end %>


</div>



