<p id="notice"><%= notice %></p>

<p>
  <h2>Menu</h2>
</p>

<h3>Our dishes</h3>

<% if @dishes %>
	<%= @dishes.each do |dish| %>
		<p><%= dish.name %></p>
		<p><%= dish.price %> </p>
		<p><%= dish.description %></p>
		<p><%= dish.image_url %></p>
		<p><%= image_tag @dish.image, :id => "image" %></p> <!-- might not be dish image -->
	<% end %>
<% end %>





<h3><%= link_to "Add a dish", new_dish_path(menu_id: @menu.id) %></h3>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
