
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, :placeholder => "Email" %>

  <%= f.password_field :password, :placeholder => "Password" %>

  <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
  
  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.submit "Sign up", :class => "btn btn-large btn-primary" %></div>

<% end %>



