<%= form_for @dish, :html => { :multipart => true }  do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Chocolate burger", :class => "dish_form" %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, :placeholder => "Price we'll charge", :class => "dish_form" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :placeholder => "Describe the beauty of the dish.", :class => "dish_form" %>
  </div>

  <div class="actions">
    <%= f.submit "Add dish", class: "btn btn-large btn-primary" %>
  </div>


<% end %>
