<%= form_for @dish, :html => { :multipart => true }  do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "What shall we name the delicious dish?" %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, :placeholder => "Price we'll charge" %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :placeholder => "Describe the beauty of the dish." %>
  </div>
  Menu ID: <%= @menu.id %>
  <%= hidden_field_tag :menu_id, @menu.id %>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
